repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0  # 指定版本
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      # - id: debug-statements
  - repo: local
    hooks:
      - id: maven-checkstyle
        name: Maven Checkstyle
        entry: mvn checkstyle:check
        language: system
        pass_filenames: false
